body {
    background: gray url("images/background.jpg") repeat;
    font-size: xx-large;
    color: white;
}

ul {
    list-style: none;
}

ul li {
    margin: 2rem 0;
}

.button {
    margin: 2rem 0;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    color: palegoldenrod;
    text-decoration: none;
}

a:visited {
    color: goldenrod;
    text-decoration: none;
}